.jumbotron{
    background-image: url('../img/photo-1518623001395-125242310d0c.jpg');
    background-size: cover;
    
}
.card-img-top{
    opacity: 0.7;
    height: 200px;
}

.card-img-top:hover{
    opacity: 1.0;
}
.stars{
    float: right;
}