{% extends 'base.html' %}
{% block main %}
    <!-- HERO -->
    <div class="jumbotron text-center mt-4">
      <h1 class="display-4">Всякие туры</h1>
      <p class="lead">Для тех, кого отвлекают дома</p>
      <p class="mt-5 w-50 mx-auto">Лучшие направления,где никто не будет вам мешать сидеть на берегу и изучать программирование, дизайн, разработку игр и управление продуктами</p>
    </div>
    
    <!-- CARDS -->

    <div class="row mt-5" data-test="cards">
      {% set tours = tours.values()|sort(attribute="price") %}
      {% for i in range(1, 7) %}
        <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="{{ tours[i].picture }}" class="card-img-top img-fluid" data-test="picture" style="height: 200px;">
            <div class="card-body">
              <h5 class="card-title">{{ tours[i].country}}: {{ tours[i].title }}</h5>
             <p class="card-text">{{ tours[i].description | truncate(100, end='') }}</p>
                <!--<a href="" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>-->
                <p class="card-text font-weight-bold">{{ tours[i].date }}, {{ tours[i].nights }} дней, {{ tours[i].price }} P
                  <span style="float: right;">{{ tours[i].stars }} ★</span>
                </p>
            </div>
        </div>
        </div>
      {% endfor %}

    </div>

{% endblock %}