{% extends 'base.html' %}
{% block main %}
    <!-- HERO -->
    <div class="jumbotron text-center mt-4">
      <h1 class="display-4">Всякие туры</h1>
      <p class="lead">Для тех, кого отвлекают дома</p>
      <p class="mt-5 w-50 mx-auto">Лучшие направления,где никто не будет вам мешать сидеть на берегу и изучать программирование, дизайн, разработку игр и управление продуктами</p>
    </div>
    
    <!-- CARDS -->

    <div class="row mt-5" data-test="cards">

      {% for id in keys %}
        <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <a href="/tours/{{ id }}"><img src="{{ tours[id].picture }}" class="card-img-top img-fluid" data-test="picture" style="height: 200px;"></a>
            <div class="card-body">
              <h5 class="card-title">{{ tours[id].country}}: {{ tours[id].title }}</h5>
             <p class="card-text">{{ tours[id].description | truncate(100, end='') }}</p>
                <!--<a href="" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>-->
                <p class="card-text font-weight-bold">{{ tours[id].date }}, {{ tours[id].nights }} дней, {{ tours[id].price }} P
                  <span style="float: right;">{{ tours[id].stars }} ★</span>
                </p>
            </div>
        </div>
        </div>
      {% endfor %}

    </div>

{% endblock %}